@font-face {
    font-family: 'MyFont';
    src: url('./Roboto-Regular.ttf') format('truetype'),
      url('./Roboto-LightItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
   .hello {
     color: blue;
     font-family: 'MyFont';
     background: url('./icon.png');
   }