@font-face {
    font-family: 'MyFont';
    src: url('./Roboto-Regular.ttf') format('truetype'),
      url('./Roboto-LightItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
*{
  box-sizing: border-box;
  border:solid red 1px;
}
body{
  width: 1080px;
  margin: auto;
  margin-bottom: 10px;
}
h1,h2,h3,h4,h5,h6,div,p{
  margin:0;
  margin-bottom: 15px;
}
#menuDiv{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#menuNav{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
#my-logo{
  border-radius: 100px;
    width: 90px;
    height: 65px;
    margin-top:7px;
    /* border: red solid 1px; */
}
#h1style{
  font-size: 4em;
  width: 70%;
  margin-bottom:25px;
}
#pstyle1{
  font-size: 2.2em;
  font-family: Roboto;
  font-weight:300;
  width: 64%;
  margin-bottom: 15px;
}
#pstyle2{
  font-size: 1.3em;
  width: 60%;
}
.hello {
  color: white;
  height:980px;
  width: 1080px;
  padding:10px 40px;
  font-family:'MyFont';
  background: url('./backImageSm.jpg');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x:-234px ;
  background-size: cover;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: flex-start;
  } 
#joinBtn{
  border-radius: 10px;
  height: 55px;
  width: 24%;
  margin-top:30px;
  background-color: #e4de48;
  font-size: 1em;
  }
.tabs {
    display: flex;
    list-style: none;
    padding: 0;
}
.tab {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #e4de48;;
    border: 1px solid #ddd;
    border-bottom: none;
    margin-right: 5px;
    color: black;
    width: 20%;
    text-align: center;
    border-radius: 15px 14px 0px 0px;
}

.tab:hover {
    color:#ddd;
    background-color: #c5a110;
}

.tab.active {
    color:white;
    background-color: #f6ecc4;
    border-bottom: 5px solid #efc72a;
}

.tab-content {
    display: none;
    height:800px;
    

}

.tab-content.active {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#tab3.active{
  display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px ;
}
#tab4.active{
  flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    width: 997px;
    align-items: center;
    justify-content: flex-start;
    font-size:2em;
    text-align: center;
}
.burger-container{
  background-color: rgb(0 0 0 / 59%);
    width: 200px;
    height: 200px;
    overflow: auto;
}
.recipe-container{
  background-color: rgb(0 0 0 / 59%);
    width: 200px;
    height: 200px;
    overflow: auto;
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input, textarea {
  padding: 8px;
  margin-bottom: 16px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}